{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "BemanningUrl": "",
    "RenholdUrl": "",
    "IsTest": "",
    "Breaker_RetryWaitTime": "",
    "Breaker_OpenCircuitTime": ""
  }

}
